.footer{
    width: 100%;
    background-color: var(--background-black) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px auto;

}

.footer h1{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--logo-color);
}
@media  (max-width: 768px) {
    .footer h1{ 
        font-size: 1.25rem;
        line-height: 2.25rem;
        padding-bottom: 1rem;
    }
    
}