.aboutBottomDiv{
    width: 100%;
    background-color: var(--background-gray);
    padding: 1.25rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
} 

.skills{
    width: 100%;
    background-color: var(--background-gray);
    text-align: center;
    padding-top: 2rem;
}
.skills h1{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
    
.skills span{
    color: var(--logo-color);
  }

@media (max-width: 768px) {
    .aboutBottomDiv{
        padding: 3.25rem 0rem;
        gap: 0rem;
    }
}

@media (max-width: 390px) {
    .aboutBottomDiv{
        padding: 2.625rem 0rem;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}